@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  height: 100%;
  font-family: "Manrope", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  margin: 3rem auto;
  background-color: #F4F6F8;
}

.background-img{
width: 25%;
height: 100%;
background: url(../src/assests/background.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #F4F6F8;
padding:  8rem 0;
}

.image{
  align-items: center;

}

.sign-in-detail{
width: 65%;
/* padding-right: 8rem; */

}

h1{
 font-size: 40px;
 font-weight: 600;
 color: rgba(47, 47, 47, 0.8);
 padding-top: 2rem;
}

.header-paragraph{
  font-size: 18px; 
  color: rgba(47, 47, 47, 0.7);
  margin-top: 10px;
  margin-bottom: 15px;
}
form , .sign-in-text{
  padding-left: 10rem;
  margin-top: 20px;
}

label{
  font-size: 14px;
  color: rgba(47, 47, 47, 0.8);
  margin-bottom: 10px;
}
input{
  width: 100%;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: rgba(47, 47, 47, 0.4);
  margin-bottom: 20px;
}

.forgot-password{
  color: #4E9CFA;
  font-size: 14px;
  float: right;
  margin-top: 10px;
  /* margin-bottom: 20px; */
}

#sign-btn{
background-color: #2D547D !important;
color: white;
border-radius: 10px;
text-align: center;
width: 100%;
outline: none;
border: none;
padding: 12px;
}

.No-account{
font-size: 18px;
color: rgba(47, 47, 47, 0.7);
margin-top: 1rem;
text-align: center;
}
span{
color: #4E9CFA;
}

.fa-solid{
  float: right;
  margin-right: 6px;
  margin-top: -45px;
  position: relative;
  z-index: 2;
  color:  rgba(47, 47, 47, 0.4);
}

.error-messega{
  color:red;
  
}